body {
    font-family: 'Garuda';
    font-size: 14;
    padding: 1cm;
    margin: auto;
}

.table_bordered{
  border: 1px solid #000;
  margin-bottom: 10px;
}
.table_bordered td{
  border:0.5px solid #000;
  padding: 3px;
}
